// Navigation code here



nav{
    .center();
    flex-direction: column;
    

  
    

    .headcol{
        background:rgb(233, 233, 233);
        
        
        @media @phone{

            width:100%;
            margin:0 auto;
                    
          }
       
    }

    .name{
        .center();
        margin:0 auto;
        padding-top:2%;

       
    }

    .menu{
        padding-top:2%;
        display:flex;
        justify-content: space-evenly;
        padding-bottom: 2%;
        
        
        
    }

    .menu a{
        text-decoration: none;
        font-size:1.4rem;
        color:@ebony-clay;

        @media @phone{
            font-size:2rem;
            padding-top:2%;
    }
    }



    





}


